<h1>{{ page.title }}</h1>
{% form 'contact' %}
  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
  {{ form.errors | default_errors }}
<br>
  <label for="ContactFormName">name</label>
  <input type="text" id="ContactFormName" name="contact[name]">
<br>
  <label for="ContactFormEmail">email</label>
  <input type="email" id="ContactFormEmail" name="contact[email]">
<br>
  <label for="ContactFormPhone">phone</label>
  <input type="tel" id="ContactFormPhone" name="contact[phone]">
<br>
  <label for="ContactFormMessage">message</label>
  <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
<br>
  <input type="submit" value="send">
{% endform %}
